.active {
  display: initial;
}
.active_sec{
  display: grid;
}
.icon-active{
  color: var(--main-color);
}
.not-active {
  display: none;
}

.new-active {
  transform: translateX(0);
  
}
.editorActive{
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: translateX(0);
}

.new-not-active {
  transform: translateX(100%);
}
.delete {
  animation: decrease 0.6s 1;
}


.noteBox-active{
  transform: translateY(200px);
  
}
.customizeThemeActive{
  transform: translateY(0);
}



@keyframes decrease {
  0% {
    scale: 1;
  }
  100% {
    scale: 0;
  }
}
