.bottomNavbar {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 50px;
  background: var(--sec-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 3;
  
  /* border-top: 3px solid var(--sec-color); */
}
.searchIcon,
.trashIcon,
.bookIcon {
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.addBtn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: inherit; 
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translate(0, -18px);
  position: relative;
  z-index: 3;
  margin-left: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.addBtn > span:first-child {
  color: var(--main-color);
  font-weight: bold;
  font-size: 33px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}
.addBtn > span:nth-child(2) {
  position: absolute;
  width: 50px;
  height: 50px;
  background: var(--sec-color);
  border-radius: 50%;
  z-index: -1;
  /* clip-path: circle(100% at 50% -40%); */
  border: 5px solid var(--main-color);
}

.bookIcon {
  color: var(--main-color);

}