header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  z-index: 2;
  background: var(--main-color);
  padding: 0 20px;
}

.logoBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* border: 2px solid; */
}
.logo {
  font-weight: bold;
  font-size: 18px;
  font-family: robotoc, Arial;
  /* border: 2px solid yellow; */
  display: flex;
}
.menuBox {
  /* border: 2px solid red; */
  display: flex;
  padding: 0;
  justify-content: end;
}
.hide {
  display: initial;
}
.show {
  display: none;
}
.menuBox ul li {
  display: flex;
  /* padding-right: 50px; */
  list-style: none;
  cursor: pointer;
  padding-left: 10px;
  transition: transform 0.2s ease-out;
  font-size: clamp(10px, 1vw , 15px);
}

.menuBox ul li:hover {
  background: var(--sec-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menuBox ul li span {
  padding-right: 5px;
}

.dropMenuIcon {
  font-weight: bold;
  font-size: 20px;
  padding-right: 10px;
  cursor: pointer;
}

.dropMenu {
  position: fixed;
  bottom: 0;
  top: 50px;
  right: 20px;
  width: 200px;
  height: 150px;
  z-index: 999;
  border-radius: 5px;
  background: var(--notes-color);
  display: none;
  padding-bottom: 30px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.dropMenu ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
}
.dropMenu ul li {
  height: 60px;
  list-style: none;
  cursor: pointer;
  padding-left: 20px;
  display: flex;
  align-items: center;
  transition: transform 0.2s ease-out;
  
}
.dropMenu ul li:hover {
  background: var(--sec-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dropMenu ul li span {
  padding-right: 5px;
}
.journal {
  margin-top: 2px;
  margin-left: 3px;
}

.onSelectMenu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: var(--sec-color);
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 70px 0 20px;
  /* background: red; */
  transform: translateX(100%);
  transition: transform 0.5s;
}
.onSelectMenu ul {
  width: 400px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  padding: 0;
}
.onSelectMenu ul > li:nth-child(3){
  display: flex;
  width: 90px;
  justify-content: space-between;
  text-align: left;
}
.onSelectMenu ul > li:nth-child(3) span{
  cursor: pointer;
}
.cancel {
  font-size: 25px;
  cursor: pointer;
  margin-top: 4px;
}
.deleteAll {
  cursor: pointer;
}

.customizeThemeMenu {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  display: flex;
  background: var(--sec-color);
  padding: 10px;
  align-items: center;
  font-size: 11px;
  justify-content: space-between;
  padding: 5px 10px 10px 10px;
  transform: translateY(-110%); 
  transition: transform 0.5s;
  box-sizing: border-box;
  z-index: 999;
  overflow-x: hidden;
}
.customizeThemeMenu input {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  border: none;

}
.customizeThemeMenu_sec {
  display: grid;
  /* grid-template-columns: 30px 100 1fr 1fr 1fr; */
  grid-template-columns: 1fr;
  gap: 10px;
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 50px;
}

.customizeThemeMenu_sec .customizeTheme_secChild {
  display: flex;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;

}
.customizeThemeMenu_sec > div:first-child {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 3px);
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.addNewColor {
  background: rgb(63, 59, 59);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}
