
.noteEditor {
  position: fixed;
  z-index: 999;
  padding-top: 170px;
  overflow: auto;
  background: var(--main-color);
  transition: opacity 0.3s ease-in-out;
  display: flex;
  transform: translateX(100%); 
  transition: transform 0.5s;
  

}

.noteEditor::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar {
  display: none;
}

.hideEditorBtn {
  cursor: pointer;
  font-weight: bold;
  font-size: 22px;
}
.editorHeader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 15px 20px;
  background: var(--main-color);
  color: var(--text-color);
  z-index: 999;
}
.editorHeader > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  width: 15%;
  
}
.C-Ldate{
  opacity: 0.6;
  font-size: 11px;
}

.inputHead {
  padding: 40px 30px 0 20px;
  position: fixed;
  right: 0;
  left: 0;
  top: 35px;
  background: var(--main-color);
}

.inputHead > div:first-child {
  height: 30px;
  margin-bottom: 15px;
}
.inputHead > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 25px;
  padding-left: 2px;
  font-weight: bold;
}
.inputHeadText {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  font-size: 20px;
  color: var(--text-color);
  outline: none;
}
.inputHeadText::placeholder{
  color: var(--text-color);

}

.inputNoteDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  height: 100%;
}
.inputNote {
  margin-top: 0;
  width: calc(100% - 40px);
  outline: none;
  font-size: 15px;
  background: var(--main-color);
  border: none;
  color: var(--text-color);
  height: 100%;
  transform: translateX(-3px);
  word-break: break-all;
}
.inputNote::-webkit-scrollbar {
  display: none;
}
.keyboardBtn {
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
  border: none;
}
.kbIcon {
  font-size: 25px;
}
.editorBottomBar{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: var(--sec-color);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.editorBottomBar div{
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.editorBottomBar div span{
  width: 40px;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 50%;
}
.editorBottomBar div > span:nth-child(2){
  text-decoration: underline;
}

.editorBottomBar div > span:nth-child(3){
  font-family: serif;
}
