
.noteEditor {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  padding-top: 170px;
  overflow: auto;
  background-color: var(--main-color);
  transition: opacity 0.3s ease-in-out;
  display: flex;
  transform: translateX(100%);
  transition: transform 0.5s;

}

.noteEditor::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar {
  display: none;
}

.hideEditorBtn {
  cursor: pointer;
  font-weight: bold;
}
.editorHeader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 15px 20px;
  background-color: var(--main-color);
}
.editorHeader > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  width: 15%;
}

.inputHead {
  padding: 40px 30px 0 20px;
  position: fixed;
  right: 0;
  left: 0;
  top: 35px;
  background-color: var(--main-color);
}
.inputHead > div:first-child {
  height: 30px;
  margin-bottom: 15px;
}
.inputHead > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
  color: var(--notes-text-color);
  border-bottom: 1px solid var(--notes-text-color);
  padding-bottom: 25px;
  padding-left: 2px;
  font-weight: bold;
}
.inputHeadText {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: white;
  outline: none;
}
.inputNoteDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  height: 100%;
}
.inputNote {
  margin-top: 0;
  width: calc(100% - 40px);
  outline: none;
  font-size: 15px;
  background-color: var(--main-color);
  border: none;
  color: white;
  height: 100%;
  transform: translateX(-3px);
  word-break: break-all;
}
.inputNote::-webkit-scrollbar {
  display: none;
}
.keyboardBtn {
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
  border: none;
}
.kbIcon {
  font-size: 25px;
}
