:root {
  --main-color: rgb(22, 21, 21);
  --sec-color: rgb(241, 108, 108);
  --notes-color: rgb(42, 40, 40);
  --notes-text-color: rgb(94, 91, 91);
  --date-color: rgb(193, 185, 185);
  --navbar-border: rgba(219, 255, 255, 0.3);
}

@font-face {
  font-family: teko;
  src: url(/Notepad\ App/Fonts/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: robotoc;
  src: url(/Notepad\ App\Fonts\RobotoCondensed-Regular.ttf);
}

body {
  background-color: var(--main-color);
  font-family: teko;
  color: white;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 100px;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

/* body::before{
  content: "";
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: var(--sec-color);
  clip-path: polygon(
    70% 0,
    100% 0,
    100% 100%,
    38% 100%
  );
} */
.notesBox {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 15px;
  row-gap: 15px;
  align-content: center;
  justify-content: center;
  margin-top: 30px;
  overflow: auto;
  padding: 25px;
  
}


.notesBox::-webkit-scrollbar {
  display: none;
}
.note {
  height: auto;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: var(--notes-color);
  padding: 10px 10px 10px 15px;
  position: relative;
  border: 2px solid var(--sec-color);
  border-left: none;
}

.note::before {
  content: "";
  position: absolute;
  
  width: 7px;
  background-color: var(--sec-color);
  
  top: 0px;
  bottom: 0;
  left: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.noteHead {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  font-size: 13px;
  font-family: robotoc, Arial;
}
.textNote {
  height: 50px;
  overflow: hidden;
  cursor: pointer;
  font-size: 10px;
  margin-top: 10px;
  line-height: 15px;
  color: white;
  position: relative;
  word-wrap: break-word;
}
.textNote::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  bottom: -2px;
  background-image: linear-gradient(to bottom, transparent, rgb(45, 44, 44));
  height: 150%;
}
.textNote::-webkit-scrollbar {
  display: none;
}
.dateDiv {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  border-bottom: 1px solid var(--sec-color);
  padding: 10px 0;
  flex-direction: column;
}

.dateDiv div {
  color: var(--date-color);
  font-weight: bold;
  font-size: 8px;
  
}
.trashAndCheckNoteDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
  position: relative;
}

.trashAndCheckNoteDiv span {
  font-size: 12px;
  cursor: pointer;
}

.trashAndCheckNoteDiv > span:first-child{
  font-size: 18px;
}
.trashAndCheckNoteDiv > span:first-child:hover {
  color: var(--sec-color);
}

.checkNote {
  position: relative;
  isolation: isolate;
  margin-bottom: 1px ;
  height: 17px;
  width: 17px;

}
.checkNote::before {
  content: "";
  background-color: var(--notes-color);
  position: absolute;
  right: 0px;
  left: 2px;
  top: 1px;
  bottom: 0px;
  border: 2px solid white;
  border-radius: 3px;
  z-index: -1;
}

.check{
  position: absolute;
  right: 4px;
  top: 3px;
  font-weight: bold;
  z-index: 2;
  pointer-events: none;
  opacity: 0;

}
.checkActive{
  opacity: 1;
  position: absolute;
  /* right: 4px;
  top: 3px; */

  transform: translate(-50%, -50%);
  top : 50%;
  left: 50%;
  font-weight: bold;
  z-index: 2;
  pointer-events: none;
  
}
.checkNoteBox{
  pointer-events: all;
  cursor: pointer;
  opacity: 0;
}

.checkNote{
  display: none;
}
.noNotes{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 2em;
  color: rgb(91, 87, 87);
  text-wrap: nowrap;
}

@media (min-width: 625px) {
  .notesBox {
    grid-template-columns: 25% 25% 25% 25%;
    padding: 50px;
  }

  .editMenubox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
  }
  .show {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
  }
  .hide {
    display: none;
  }
}
